<div>
	<h2>Add/Edit <small>Store</small></h2>
	<form id="productForm">
	 <div class="jumbotron row">
	 	    <div class="col-xs-6">
			    <div class="form-group ">
			        <label>Store Name</label>
			        <input type="text" class="form-control" name="name" />
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>Store Type</label>
			         <select style="width:100%" ui-select2  ng-model="selectedTags" >
			         	<option value="" disabled selected hidden >Select your shop type</option>
            			<option ng-repeat="tag in tags" value="{{tag.id}}">{{tag.name}}</option>
          			 </select>
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group">
			        <label>Address 1</label>
			        <textarea name="address1" class="form-control" rows="3"></textarea>
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group">
			        <label>Address 2</label>
			        <textarea name="address2" class="form-control" rows="3"></textarea>
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>City</label>
			        <input type="text" class="form-control" ng-model="selectedCity" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:8" placeholder="Enter city">
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>Area</label>
			        <input type="text" class="form-control" ng-model="selectedArea" uib-typeahead="area for area in areas | filter:$viewValue | limitTo:8" placeholder="Enter Area">
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>State</label>
			        <input type="text" class="form-control" ng-model="selectedState" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" placeholder="Enter State">
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>Country</label>
			        <input type="text" class="form-control" ng-model="selectedCountry" uib-typeahead="country for country in countries | filter:$viewValue | limitTo:8" placeholder="Enter Country">
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>Pin</label>
			        <input type="text" class="form-control" name="name" />
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>E-mail</label>
			        <input type="text" class="form-control" name="name" />
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>Mobile</label>
			        <input type="text" class="form-control" name="name" />
			    </div>
			</div>
			<div class="col-xs-6">
			    <div class="form-group ">
			        <label>Phone</label>
			        <input type="text" class="form-control" name="name" />
			    </div>
			</div>
			 <div class="col-xs-12">
			    <div class="form-group">
			        <label>Description</label>
			        <textarea name="description" class="form-control" rows="3"></textarea>
			    </div>
			</div>
			<div class="col-xs-12" nv-file-drop="" uploader="uploader">
              <div class="form-group">
              <label>Choose store logo</label>            
              <input type="file" nv-file-select="" uploader="uploader" multiple /><br/>
              <table class="table">
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>                                   
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file,width: 200, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>
      </div>
			 <button  type="submit" class="btn btn-primary col-md-offset-5">Update</button>		
		</div>
 
    <!-- <div class="form-group">
        <label>Price</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" name="price" />
        </div>
    </div>

   

    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label>Size</label>
                <div class="checkbox">
                    <label><input type="checkbox" name="size[]" value="s" /> S</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="size[]" value="m" /> M</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="size[]" value="l" /> L</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="size[]" value="xl" /> XL</label>
                </div>
            </div>

            <div class="col-xs-4">
                <label>Color</label>
                <div class="checkbox">
                    <label><input type="checkbox" name="color[]" value="white" /> White</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="color[]" value="black" /> Black</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="color[]" value="yellow" /> Yellow</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="color[]" value="green" /> Green</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="color[]" value="red" /> Red</label>
                </div>
            </div>

            <div class="col-xs-4 availabilityContainer">
                <label>Available in store</label>
                <div class="radio">
                    <label><input type="radio" name="availability" value="yes" /> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="availability" value="no" /> No</label>
                </div>
            </div>
        </div>
    </div> -->
 
   
</form>	
</div> 