<div> 
  <a class="pull-right btn btn-primary btn-outline btn-rounded"  href="#/dashboard/offers-list">Go Back</a>
    <h2>{{oper === 'new' && Add || Edit}}<small>offers</small></h2>
  <form angular-validator-submit="save()" name="myForm"  novalidate angular-validator>
   <div class="jumbotron row">
        <div class="col-xs-12">
          <div class="form-group ">
              <label>Offer Name</label>
              <input type="text" class="form-control"  name="offerName" ng-model="model.name"      validate-on="dirty" 
                    required-message="'Yo! This field is required..'"
                    required/>
          </div>
      </div>
      <div class="col-xs-6">
          <div class="form-group ">
              <label>Offer From</label>
              <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model.offerFrom" is-open="status.opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" name="offerFrom"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
      </div>
      <div class="col-xs-6">
          <div class="form-group ">
              <label>Offer To</label>
              <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model.offerTo" is-open="status.opened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" name="offerTo"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
      </div>
      <div class="col-xs-6">
          <div class="form-group ">
              <label>Discount Type</label>
               <select style="width:100%" ui-select2  ng-model="model.type" name="type" validate-on="dirty"  required-message="'Yo! This field is required..'"
                    required>
                <option value="" disabled selected hidden >Discount Type</option>
                  <option  value="percentage">Percentage</option>
                   <option  value="amount">Amount</option>
                 </select>
          </div>
      </div>
      <div class="col-xs-6">
          <div class="form-group">
              <label>Discount value</label>
              <input type="text" class="form-control" name="value" ng-model="model.value" name="value" validate-on="dirty"  required-message="'Yo! This field is required..'"
                    required/>
          </div>
      </div>
      <div class="col-xs-12">
          <div class="form-group ">
              <label>Location</label>
               <select style="width:100%" ui-select2  name="location" ng-model="model.location" validate-on="dirty" 
                    required-message="'Yo! This field is required..'"
                    required>
                <option value="" disabled selected hidden >Choose location</option>
                  <option  value="0">All Locations</option>
                  <option  value="1">Adyar</option>
                  <option  value="2">Velachery</option>
                 </select>
          </div>
      </div>
       <div class="col-xs-12">
          <div class="form-group">
              <label>Description</label>
              <textarea name="description" class="form-control" rows="3" ng-model="model.description"  validate-on="dirty"  required-message="'Yo! This field is required..'"
                    required></textarea>
          </div>
      </div>
       <div class="col-xs-12">
          <div class="form-group">
              <label>Terms & Conditions</label>
              <textarea name="terms" class="form-control" rows="3" ng-model="model.terms" validate-on="dirty"  required-message="'Yo! This field is required..'"
                    required></textarea>
          </div>
      </div>

      <div class="col-xs-12" nv-file-drop="" uploader="uploader">
              <div class="form-group">
              <label>Choose offer image</label>            
              <input type="file" nv-file-select="" uploader="uploader" multiple /><br/>
              <table class="table">
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>                                   
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file,width: 200, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>
      </div>
       <button type="submit" class="btn btn-primary col-md-offset-5">{{oper === 'new' && 'save' || 'update'}}</button>  
  </div>
</form> 

